.aditional-page-contnet {
    padding: 30px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 50px;
}

.aditional-page-title {
    padding: 30px;
}
.aditional-page-title{
        background-color: aliceblue;

}